<mims-header
  [title]="'Timeline'"
  [subTitle]="'Process Detail'"
  [color]="'#5965e7'"
>
  <process-detail-filter-box
    *ngIf="machineSelectBoxData() as machineSelectBoxData"
    [machineSelectBoxData]="machineSelectBoxData"
    [defaultFilters]="request.Filters"
    (OnFilterApply)="filtersOptions($event)"
  >
  </process-detail-filter-box>
</mims-header>

<ng-container *ngIf="chartData() as chartData">
  <ng-container *ngIf="tableData() as tableData">
    <ng-container *ngIf="tablePaging() as paginationDetails">
      <process-detail-information
        [chartData]="chartData"
        [tableData]="tableData"
        [chartSize]="chartSize"
        [tableHeaders]="tableHeaders"
        [columnNames]="columnNames"
        [paginationDetails]="paginationDetails"
        (changePage)="requestNewPage($event)"
      >
      </process-detail-information>
    </ng-container>
  </ng-container>
</ng-container>
