<clr-datagrid>
  <clr-dg-column *ngFor="let header of headerName">
    {{ header }}
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let data of rowData">
    <ng-container *ngFor="let column of columName">
      <clr-dg-cell> {{ getCellValue(data, column) }} </clr-dg-cell>
    </ng-container>
  </clr-dg-row>

  <clr-dg-footer>
    <ng-container *ngIf="(rowData?.length ?? 0) > pageSize && hasPagination">
      <mims-pagination
        (OnChangePage)="OnChangePage($event)"
        [hasNavigation]="true"
        [hasBoundary]="true"
        [numItems]="totalItems"
        [itemsPerPage]="pageSize"
      ></mims-pagination>
    </ng-container>
  </clr-dg-footer>
</clr-datagrid>
