<ng-container *ngIf="type != 'textarea'; else textareatemplate">
  <input
    class="block-display"
    [ngStyle]="setFullWidthStyleIfRequired()"
    [id]="id"
    [attr.aria-label]="label || null"
    [attr.type]="type != null ? type : 'text'"
    [attr.disabled]="disable ? 'disabled' : null"
    [attr.size]="size"
    [(ngModel)]="value"
    #txt="ngModel"
    placeholder="{{ placeholder }}"
  />
</ng-container>

<ng-template #textareatemplate>
  <textarea
    [ngStyle]="setFullWidthStyleIfRequired()"
    [id]="id"
    [attr.aria-label]="label || null"
    [attr.disabled]="disable ? 'disabled' : null"
    [attr.rows]="rows || null"
    [attr.cols]="cols || null"
    [(ngModel)]="value"
    #txt="ngModel"
    [placeholder]="placeholder"
  ></textarea>
</ng-template>
