<mims-header
  [title]="'Pareto Chart'"
  [subTitle]="'Downtime'"
  [color]="'#5965e7'"
>
  <downtime-filter-box
    [productSelectBoxData]="productSelectBoxData()"
    [machineSelectBoxData]="machineSelectBoxData()"
    [defaultFilters]="request.Filters"
    (OnFilterApply)="filtersOptions($event)"
  >
  </downtime-filter-box>
</mims-header>

<downtime-information
  *ngIf="chartData() && tableData() && tablePaging()"
  [chartData]="chartData()"
  [tableData]="tableData()"
  [chartColors]="chartColors"
  [chartSize]="chartSize"
  [paginationDetails]="tablePaging()"
  (changePage)="requestNewPage($event)"
>
</downtime-information>
