<ng-container *ngIf="errors.length > 0">
  <mims-alert [isSmall]="true" [type]="dangerType">
    <div *ngFor="let error of errors">
      {{ error }}
    </div>
  </mims-alert>
</ng-container>
<ng-template #addedOperationsTemplate>
  <ng-container *ngFor="let operation of operationsList; let i = index">
    <div class="form-group row">
      <div class="col-xs">
        <mims-input
          [id]="'operation-number-' + i"
          disable="true"
          value="{{ operation.Number }}"
        ></mims-input>
      </div>
      <div class="col-xs-4">
        <mims-input
          [id]="'operation-description-' + i"
          disable="true"
          value="{{ operation.Description }}"
        ></mims-input>
      </div>
      <div class="col-xs">
        <mims-input
          [id]="'operation-subcontractor-name-' + i"
          disable="true"
          value="{{ operation.Subcontractor.Name }}"
        ></mims-input>
      </div>
      <div class="col-xs">
        <mims-button-icon
          icon="times"
          [buttonsize]="'small'"
          (click)="onRemoveOperation(operation)"
        ></mims-button-icon>
      </div>
    </div>
  </ng-container>
</ng-template>

<form [formGroup]="operationForm" class="compact">
  <section class="form-block">
    <div class="form-group row">
      <div class="col-xs">
        <mims-label [for]="'op-number'">Op Number</mims-label>
      </div>
      <div class="col-xs-4">
        <mims-label [for]="'description'">Description</mims-label>
      </div>
      <div class="col-xs">
        <mims-label [for]="'subcontractor'">Subcontractor</mims-label>
      </div>
      <div class="col-xs"></div>
    </div>
  </section>
  <section class="form-block">
    <div class="form-group row">
      <div class="col-xs">
        <mims-input [id]="'op-number'" formControlName="opNumber"></mims-input>
      </div>
      <div class="col-xs-4">
        <mims-input
          [id]="'description'"
          type="'textarea'"
          formControlName="description"
        ></mims-input>
      </div>
      <div class="col-xs">
        <mims-select-box
          [id]="'subcontractor'"
          [data]="subcontractorSelectBoxData"
          formControlName="subcontractor"
        ></mims-select-box>
      </div>
      <div class="col-xs">
        <mims-button-icon
          icon="plus"
          [buttonsize]="'small'"
          (click)="onAddOperation()"
        ></mims-button-icon>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="addedOperationsTemplate"></ng-container>
  </section>
</form>
